{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <nav style="border-radius: 5px; border: solid rgb(161, 161, 161) 2px;">
          <ul class="nav nav-pills nav-stacked span2">
            <li><a href="/diffexp/">Differential expression</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapping <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/bowtie/">Bowtie</a></li>
                <li><a href="/bwa/">BWA</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    </div>
    <div class="col-sm-9" style="border-left: solid rgb(80, 121, 150) 1px;">
        <h1>
            BWA
        </h1>
        <form action="/register/" method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_transcriptome"><h4>Fasta file:</h4></label>
                    *Fasta fales of the reference transcriptome or unigene set
                    <select class="form-control" id="id_transcriptome" name="transcriptome">
                        <option value="">select a file</option>
                        <option value="f">1. diploria_stringosa.fasta</option>
                        <option value="m">2. sequence.fasta</option>
                        <option value="f">3. aspiria.fasta</option>
                        <option value="m">4. sequence2.fasta</option>
                        <option value="f">5. hectomasta.fasta</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_rreads"><h4>FastQ file:</h4></label>
                    *FastQ file of the sequenced cDNA transcripts
                    <select class="form-control" id="id_rreads" name="rreads">
                        <option value="">select a file</option>
                        <option value="f">1. diploria_stringosa.fastq</option>
                        <option value="m">2. sequence3.fastq</option>
                        <option value="f">3. aspiria.fastq</option>
                        <option value="m">4. sequence4.fastq</option>
                        <option value="f">5. hectomasta.fastq</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_lreads"><h4>Treatment groups file:</h4></label>
                    *A file explaining which FASTQ fies corresponf to treatment groups
                    <select class="form-control" id="id_lreads" name="lreads">
                        <option value="">select a file</option>
                        <option value="f">1. diploria_stringosa.fasta</option>
                        <option value="m">2. sequence.fasta</option>
                        <option value="f">3. aspiria.fasta</option>
                        <option value="m">4. sequence2.fasta</option>
                        <option value="f">5. hectomasta.fasta</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_lreads"><h4>List file:</h4></label>
                    *A tab-delimited file that lists transcripts and their corresponding genes
                    <select class="form-control" id="id_lreads" name="lreads">
                        <option value="">select a file</option>
                        <option value="f">1. diploria_stringosa.fasta</option>
                        <option value="m">2. sequence.fasta</option>
                        <option value="f">3. aspiria.fasta</option>
                        <option value="m">4. sequence2.fasta</option>
                        <option value="f">5. hectomasta.fasta</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
    </div>
</div>

{% endblock %}